In [1]:
#similar to 10-Stu_Scrape_Weather/Solved/scrape_surfing.py and esercise 9.  
from splinter import Browser
from bs4 import BeautifulSoup
import pandas as pd

In [5]:
def init_browser():
    # @NOTE: Replace the path with your actual path to the chromedriver
    executable_path = {"executable_path":'/usr/local/bin/chromedriver'}
    return Browser("chrome", **executable_path, headless=False)

In [ ]:
def scrape():
    browser = init_browser()
   
    marsinfo = {}
    # Mars News site scrape
    marsurl =  "https://mars.nasa.gov/news"
    browser.visit(marsurl)
    html = browser.html
    soup = BeautifulSoup(html, "html.parser")
    marsinfo["news_title"] = soup.find("div", class_="content_title").get_text()
    marsinfo["news_p"] = soup.find("div", class_="article_teaser_body").get_text()
    #image scrape
    jplurl = "https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars"
    browser.visit(jplurl)
    html = browser.html
    soup = BeautifulSoup(html, "html.parser")
    elem = img_soup.find(id="")
    marsinfo["featured_image_url"] = elem.find("img", class="fancybox-image")["src"]
    #facts scrape
    df = pd.read_html('http://space-facts.com/mars/')[0]
    df.columns=['description', 'value']
    df.set_index('description', inplace=True)
    marsinfo["facts"] = df.to_html(classes="table table-striped")
    #mars weather scrape 
    
    #the USGS Astrogeology site is temporarily dopwn so I can't do that part
    browser.quit()
    return marsinfo

                                              value
description
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.42 x 10^23 kg (10.7% Earth)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.52 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                  -153 to 20 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers